.heading {
  margin: 0;
}


button {
  background: blue;
  /* hex codes */
  color: #ffff;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
}

/* class */
.equals_button {
  background: green;
}

/* id */
#c_id_button{
 background: black; 
}

.main-text {
  /* css text alignment */
  text-align: center;
}

#text_input {
  width: 100%;
  height: 40px;
}

.parent_container {
  width: 50%;
}

.main_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}