/* General styles */
body {
  font-family: serif;
}
.heading {
  margin: 0;
}
.main-text {
  /* css text alignment */
  text-align: left;
}

/* input styles */
#text_input {
  width: 97%;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  text-align: right;
}

/* Calculator layout */
.main_grid {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.calculator_container {
  background-color: #eeeeee;
  padding: 10px;
}

/* Calculator button styles */
button {
  background: #cccccc;
  /* hex codes */
  color: black;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  font-size: 20px;
  width: 60px;
}
/* class */
#equals_button {
  background: green;
}
/* id */
#c_id_button {
 background: #ffffff; 
}
.operator_button button {
  background: orange;
}
.parent_container {
  width: 50%;
}